
@font-face {
  font-family: 'UTMAvo';
  src: url('UTMAvo.eot');
  src: url('UTMAvo.eot?#iefix') format('embedded-opentype'),
       url('UTMAvo.woff2') format('woff2'),
       url('UTMAvo.woff') format('woff'),
       url('UTMAvo.ttf') format('truetype'),
       url('UTMAvo.svg#UTMAvo') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
    font-family: 'UTMMarlboro';
    src: url('UTMMarlboro.eot');
    src: url('UTMMarlboro.eot') format('embedded-opentype'),
         url('UTMMarlboro.woff2') format('woff2'),
         url('UTMMarlboro.woff') format('woff'),
         url('UTMMarlboro.ttf') format('truetype'),
         url('UTMMarlboro.svg#UTMMarlboro') format('svg');
}

 @font-face {
 font-family: 'roboto-condensed';
 src: url('roboto-condensed.eot');
 src: url('roboto-condensed.eot?#iefix') format('embedded-opentype'),
   url('roboto-condensed.woff') format('woff'),
   url('roboto-condensed.ttf') format('truetype'),
   url('roboto-condensed.svg#roboto-condensed') format('svg');
 font-style: normal;
 font-weight: normal;
}
@font-face {
 font-family: 'roboto-boldcondensed';
 src: url('roboto-boldcondensed.eot');
 src: url('roboto-boldcondensed.eot?#iefix') format('embedded-opentype'),
   url('roboto-boldcondensed.woff') format('woff'),
   url('roboto-boldcondensed.ttf') format('truetype'),
   url('roboto-boldcondensed.svg#roboto-boldcondensed') format('svg');
 font-style: normal;
 font-weight: 700;
}
